body {
  background: linear-gradient(132.56deg, #005faf 17.36%, #01abe9 83.46%);
  font-family: "inter", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 42px;
  color: #0c174b;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.card {
  border: none;
  border-radius: 16px;
}

.page-landing {
  padding-bottom: 180px;

  .hero {
    .body-tengah-melayang {
      padding: 80px;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 5px 28px 31px 20px rgba(0, 104, 184, 0.27);
      backdrop-filter: blur(24.5px);
      border-radius: 42px;
      margin-top: -200px;

      .konsultasi {
        .konsultasi-card {
          .konsultasi-info {
            .konsultasi-logo {
            }

            .konsultasi-name {
              .name {
                font-weight: 700;
                font-size: 32px;
                color: #0c174b;
              }

              .job {
                font-weight: 700;
                font-size: 15px;
                color: #9aa1b8;
              }
            }
          }

          .konsultasi-date {
            font-weight: 700;
            font-size: 20px;
            color: #0c174b;
          }
        }
      }

      .artikel {
        .artikel-img {
          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

.produk {
  .price-tag {
    .price {
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      color: #094370;
    }
    .tag {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      color: #000000;
    }
  }
}
